.div_one_container{
    height: 25px;
    width:100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #eaeceb;
   color:#916e68;


}
/* .div_one_containerp {
    border: 1px solid red;
    width: 20%;
    height: 20px;
    
margin: 0;
font-weight: bold;
color: rgb(14, 100, 174);
font-size: x-small;

} */
.div_two_container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
}
.logo{
    width: 15%;
    height: 100px;
}
.searchbox{
    width: 40%;
    height: 30px;
    display: flex;

}
.searchbox_input {
    width: 60%;
    height: 30px;
    border-radius: 5px solid rgb(100, 204, 100);
}
.searchbox_button--submit{
    border-radius: 5px solid rgb(96, 71, 136);
    border: none;
    width: 20%;
    height: 35px;
    color: aliceblue;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: rgb(96, 71, 136);
}
.div_three_container{
    display: flex;
    width: 20%;

}
.entry{
   
   width: 50%;
   text-align: center;
   margin: 0;
   height: 50px;
}
.entry img{
    width: 50%;
   text-align: center;
   margin-bottom: 0;
   height: 50px;

}
.entry p{
    font-weight: bold;
    color: darkolivegreen;
    margin-top: 0;
    
}
